<!-- Documents Section -->
    <section id="documents">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Documents</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <i class="fa fa-file fa-4x top-margin"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Initial Report</h4>
				    <h4 class="subheading"><a href="https://drive.google.com/uc?export=download&id=0B8Xun5Oaf6jnd29rRVpRMlF6ZFU">Download</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Included in the initial report are contextual inquiry reviews, design sketches, and storyboards. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <i class="fa fa-file-powerpoint-o fa-4x top-margin"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Initial Presentation</h4>
                                    <h4 class="subheading"><a href="https://drive.google.com/uc?export=download&id=0B8Xun5Oaf6jnbmFYWWw3X1dWXzg">Download</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The initial presentation highlights the contextual inquiries, design sketches, and storyboards. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <i class="fa fa-file fa-4x top-margin"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Final Report</h4>
                                    <h4 class="subheading"><a href="https://drive.google.com/uc?export=download&id=0BxN1EJFiZLNYMlphbmVnR1ZZRGs">Download</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Included in the final report are the paper prototype, testing results, and the digital mockup. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                 <i class="fa fa-file-powerpoint-o fa-4x top-margin"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Final Presentation</h4>
                                    <h4 class="subheading"><a href="https://drive.google.com/uc?export=download&id=0B8Xun5Oaf6jnMG5XY2Iwa2VSdHc">Download</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The final presentation highlights the paper prototype, testing, and digital mockups. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>And Here
                                    <br>We Are
                                    <br>Now!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
